@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
} */
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}  
.ring {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  box-shadow: none !important;

  
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #2525257e;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 13s linear infinite;
  --clr: #00efcfa2;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 12s linear infinite;
  --clr: #abe23cb0;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 13s linear infinite;
  --clr: #fedb41a6;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #06000b;
}
.login .inputBx {
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #06000b;
  border-radius: 15px;
  font-size: 1.2em;
  color: #06000b;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
    width: 100%;
    background: linear-gradient(var(--angle, 45deg), #00efd1, #fedb41);
    border: none;
    cursor: pointer;
  }
.login .inputBx input::placeholder {
  color: rgb(0, 0, 0);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #000220;
  text-decoration: none;
}
.mainbox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    color: #1a009d;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #004928;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.link:hover::after {
    transform: scaleX(1);
}
